alabaster==0.7.12
altgraph==0.17
appdirs==1.4.4
asteval==0.9.23
async-generator
attrs
Babel
backcall
bleach
boltons==20.2.1
brotlipy==0.7.0
certifi==2020.12.5
cfgv==3.2.0
click==7.1.2
click-log==0.3.2
co2dice==3.0.0
co2gui==3.0.0
co2mpas==3.0.0
co2sim==3.0.0
contextlib2==0.6.0.post1
contextvars==2.4
cycler==0.10.0
decorator
defusedxml
dill==0.3.3
distlib==0.3.1
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
formulas==1.1.0
future==0.18.2
gitdb==4.0.5
GitPython==3.1.14
graphviz==0.16
identify==2.2.4
imagesize==1.2.0
immutables==0.15
importlib-metadata==4.0.1
ipyprogressbar==1.0.2
ipython
ipython-genutils
ipywidgets
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2
joblib==1.0.1
json5==0.9.5
jsonschema
jupyter-client
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions
jupyter-core
jupyter-nbextensions-configurator
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring==23.0.1
kiwisolver==1.3.1
lmfit==1.0.2
logutils==0.3.5
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
multiprocess==0.70.11.1
nodeenv==1.6.0
notebook
numpy==1.20.1
numpy-financial==1.0.0
openpyxl==3.0.6
packaging
pandalone==0.5.0
pandas==1.2.2
pandocfilters
parsedatetime==2.6
parso
pefile==2019.4.18
pickleshare
Pillow==8.1.2
pkginfo==1.7.0
polyversion==0.2.2a1
pre-commit==2.12.1
progress==1.5
prometheus-client
prompt-toolkit
pyarrow==3.0.0
pycparser
Pygments
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-gnupg==0.4.7
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
readme-renderer==29.0
regex==2020.11.13
requests
requests-toolbelt==0.9.1
rfc3986==1.4.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
schedula==1.2.6
schema==0.7.4
scikit-learn==0.24.1
scipy==1.6.0
smmap==3.0.5
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinx-click==2.7.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado==0.9.4
testpath
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado
tqdm==4.56.1
traitlets
transitions==0.8.7
twine==3.4.1
uncertainties==3.1.5
Unidecode==1.2.0
urllib3
validate-email==1.3
virtualenv==20.4.4
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton
wincertstore==0.2
wltp-gearshift==1.1.1
xgboost==1.3.3
xlrd==2.0.1
XlsxWriter==1.3.7
xlwings==0.23.0
zipp
